.page {
  display: flex;
  margin: 0 auto;
  padding: 20px 40px;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  color: #e6e6e6;
  font-family: "IBM Plex Serif", serif;
}

@media screen and (max-width: 768px) {
  .page {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .page {
    padding-left: 0;
    padding-right: 0;
  }
}
